/***********************************
GENERELT
***********************************/
* {
    box-sizing: border-box;
}


body {
    margin: 0;
    background-color: #ede3d8;
}


img {
    width: 100%;
    object-fit: cover;
}

p {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}



/*************************
FOOTER
*************************/

footer {
    background-color: white;
    padding: 0 5vh;
    width: 100%;
    height: 35vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}


.footer_bg {
    border-bottom: 175px solid white;
    border-left: 100vw solid transparent;
    overflow: hidden;

}


footer h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    margin-bottom: 3px;
}

.social_media img {
    height: 9vw;
    width: 9vw;
    cursor: pointer;
    text-align: end;
}

.kontakt {
    flex-grow: 2;
    flex-basis: 200px;
}

.kontakt p {
    margin: 0;
}

.social_media {
    flex-grow: 1;
    flex-basis: 200px;
}

/************************************
BURGER MENU MOBILE ONLY
************************************/

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}


#burger_menu {
    position: absolute;
    top: -5px;
    right: 10px;
    font-size: 2.3rem;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    display: flex;
    font-style: normal;
    color: #A68B6A;

}


.burger_kryds {
    margin-top: 5px;
    font-size: 1.7rem;
    padding-right: 0.1rem;
    transform: scale(1.4, 1);
    margin-bottom: 0;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal;
}


#my_links {
    display: none;
    background-color: rgba(166, 139, 106, 0.72);
    width: 40vw;
    height: 30vh;
    float: right;
    justify-content: space-around;
    opacity: 0;
    transition: 1s;
}


#my_links a {
    text-transform: uppercase;
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
}


#menu_burger_bar {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40px;
    background-color: white;
    margin: 0;
}


#menu_burger_bar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;

}

#menu0 {
    position: relative;
    text-align: center;
    top: 35vw;
    left: -20vw;
    opacity: 0;
}


#menu1,
#menu2,
#menu3 {
    position: relative;
    text-align: end;
    top: -50px;
    left: 0px;
}

.menu_wrapper {
    display: flex;
    align-content: flex-end;
    position: absolute;
    right: 0;
    top: 40px;
}

/*************************
SPLASH
*************************/


#splash {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/mobile_splash.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
}


#forside {
    height: 100vh;
}


.quotes {
    position: absolute;
    left: 7vw;
    top: 30vw;
    color: white;
}

.quotes p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 20px;
}




#splash h2 {
    color: white;
    padding: 1rem;
}





/*########### Section - Template ############*/

#index article {
    /*    border: 1px solid #000;*/
    height: auto;
    padding: 8px;
    background-color: #ede3d8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

#index {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 40px;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 0;

}

#index h2 {
    font-size: 1.5rem;
    position: absolute;
    color: #ffffff;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    text-align: center;
    width: 400px;
    text-transform: capitalize;
}

/*
article img:hover {
    transform: scale(1.1);
}*/

/*########### Overblik ############*/

/*
#detail {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
}


#detail .kaf {

    margin: 4rem auto;
    padding: 4rem;
    min-height: 50vh;
        width: 60vw;
    background-color: white;
}

#detail button {
    margin: .5em;
    background-color: rgba(240, 248, 255, 0);

}

#detail img {
    width: 100%;
    height: 100%;

}

.skjul {
    display: none;
}
*/

/*emma pop op start*/

#tekst {
    flex-basis: 500px;
    align-self: flex-end;

}

#detail h1 {
    text-transform: capitalize;

}

#detail p:nth-child(1) {
    align-self: flex-end;
    flex-grow: 1;

}

#detail .land {
    text-align: end;
    line-height: 1.6;

}

#detail img {
    width: 100%;
    height: 40%;
    flex-grow: 1;
    flex-basis: 500px;
    padding-top: 2.5rem;
    /*    padding-right: 15px;*/
    align-self: flex-start;

}


#detail {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: scroll;
}

#detail .kaf {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem auto;
    padding: 1rem;
    /*    height: 100vh;*/
    width: 79vw;
    background-color: #ede3d8;

}

#detail button {
    margin: .5em;
    position: absolute;
    left: 280px;
    top: 76px;
    background-color: white;
    height: 30px;
    width: 30px;
    border-radius: 20px;

}

.skjul {
    display: none;
}

/*emma pop op slut*/

/*########### ANIMATIONER ############*/

.paused {
    animation-play-state: paused;
}

.fadein {
    animation-name: fadein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.fade1_menu,
.fade2_menu,
.fade3_menu {
    opacity: 0;
    animation-name: fade_menu;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    animation-delay: 0.4s;
}

.fade2_menu {
    animation-delay: 0.6s;
}

.fade3_menu {
    animation-delay: 0.8s;
}

.blur {
    animation-name: blur;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}

.blurback {
    animation-name: blurback;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.appear {
    animation-name: appear;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;

}

.hide {
    visibility: hidden;
}

.shown {
    visibility: visible;
}

@keyframes appear {
    0% {
        transform: translateX(-100%)
    }

    100% {
        transform: translateX(0%)
    }
}

@keyframes blurback {
    0% {
        opacity: 0.1;

    }

    100% {
        opacity: 1;
    }

}

@keyframes blur {
    0% {
        opacity:
            1
    }

    100% {
        opacity: 0.1;
    }
}

@keyframes fadein {
    0% {
        transform: translateX(100%);
    }


    100 {
        transform: translateX(0%);
    }
}

@keyframes fade_menu {
    0% {
        opacity: 0
    }


    100% {
        opacity: 1
    }
}


.hide {
    opacity: 0;
}

/*########### MEDIAQUERY ############*/
@media only screen and (min-width: 768px) {
    #detail button {
        left: 84vw
    }
}

@media only screen and (min-width: 1024px) {
    #splash {
        background-image: url(billeder/splash_desktop_placeholder.png);
        background-size: 100%;
    }

    /*
    #omos_splash {
        background-image: url(billeder/omos_splash.jpg);
        background-size: 100%;
        height: 40vh;
        background-position: center;
    }
*/

    #my_links {
        display: flex;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0);
        width: 100%;
        height: auto;
        float: none;
        justify-content: space-around;

    }

    .menu_wrapper {
        top: -5px;
        right: 50px;
    }

    #menu_burger_bar {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: col;
        justify-content: center;
        top: 0;
        width: 100vw;
        align-items: center;
        background-color: white;
    }


    #menu_burger_bar a {
        display: inline-block;
        border-bottom-left-radius: 10%;
        border-top-right-radius: 10%;
    }


    #menu_burger_bar a:hover {
        transform-origin: center;
        transform: scale(1.1);
    }


    header a {
        font-family: muli, sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    #burger_menu {
        display: none;
    }

    header {
        position: fixed;
        top: 0;

    }

    .coffee {
        display: none;
    }

    #menu0,
    #menu1,
    #menu2,
    #menu3 {
        top: 0;
        left: 10px;
        opacity: 1;
        padding: 0 60px;
    }

    #menu0 {
        left: -400px;
    }


    #menu0 a,
    #menu1 a,
    #menu2 a,
    #menu3 a {
        color: black;
    }


    #forside {
        height: 80vh;
    }


    .quotes {
        left: 0;
        top: 22vh;
        color: white;
        padding: 1vw 5vw;

    }

    .quotes h2 {
        font-size: 2.5rem;
        max-width: 40ch;
    }

    .quotes p {
        font-size: 1.5rem;
    }

    /*
    #detail .kaf {
        width: 60vw;
    }
*/

    /*pop op start */



    #detail p:nth-child(1) {
        align-self: flex-end;
        flex-grow: 1;
        max-width: 60ch;

    }

    #detail .land {
        text-align: end;
        line-height: 1.6;

    }

    #detail img {
        width: 100%;
        height: 80%;
        flex-grow: 1;
        flex-basis: 500px;
        padding-top: 2.5rem;

    }


    #detail {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: scroll;
    }

    #detail .kaf {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: 4rem auto;
        padding: 2rem;
        height: 85vh;
        width: 75vw;
        background-color: #ede3d8;

    }

    #detail button {
        margin: .5em;
        position: absolute;
        /*        right: -200px;*/
        background-color: white;
        height: 30px;
        width: 30px;
        border-radius: 20px;

    }

    .skjul {
        display: none;
    }

    /*pop op slut*/



    #detail {
        max-height: 100vh;
    }


    #index article {
        box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.2);
    }

    footer {
        padding: 0 6vw;
        height: 30vh;
    }

    .social_media img {
        height: 5vw;
        width: 5vw;
    }

    footer h3 {
        margin-top: 6vh;
    }
}




@media only screen and (min-width: 1280px) {

    /*pop op start */

    #detail p:nth-child(1) {
        align-self: flex-end;
        flex-grow: 1;
        max-width: 60ch;

    }

    #detail .land {
        text-align: end;
        line-height: 1.6;

    }

    #detail img {
        width: 40%;
        height: 100%;
        flex-grow: 1;
        flex-basis: 500px;
        padding-right: 15px;

    }


    #detail {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: scroll;
    }

    #detail .kaf {
        flex-direction: row;
        margin: 4rem auto;
        padding: 2rem;
        height: 75vh;
        width: 85vw;
        background-color: #ede3d8;

    }

    #detail button {
        margin: .5em;
        position: absolute;
        height: 30px;
        width: 30px;
        border-radius: 20px;

    }

    .skjul {
        display: none;
    }

    /*pop op slut*/
}
