/***************************
LOGO
***************************/

.logo {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: scale(0.6);
    z-index: 3;
    pointer-events: none;
}

/***************************
SVG
***************************/
header svg {
    position: absolute;
    fill: white;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}



.logo svg {
    fill: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo circle {
    stroke: #A68B6A;
    stroke-width: 4;
    stroke-dasharray: 283;
    stroke-dashoffset: 283;
    transform-origin: center;
    transform: rotate(45deg);
    z-index: 1000;
}

/***************************
NAME
***************************/

.name {
    position: absolute;
    font-family: 'Montserrat Alternates', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: white;
    font-size: 2.8rem;
    transform: scale(0);
}

.name p {
    font-weight: 600;
}

.clava {
    transform: scaleX(-1);
}

.capulus_container2 {
    position: absolute;
    left: -216px;
    top: -96px;
    margin: 0;
}

.clava_container2 {
    position: absolute;
    top: -58px;
    left: -150px;
    margin: 0;
}

.capulus_sprite1 {
    position: absolute;
    left: -251px;
    top: -45px;
}

.clava_sprite1 {
    position: absolute;
    top: -7px;
    left: -185px;
}


/***********************
QUOTES ANIMATION
***********************/

.quote,
.author {
    opacity: 0;
    transition: 1s;
}


/***********************
DETAIL BUTTON
***********************/

details {
    color: #A68B6A;

}

summary {
    font-family: muli, sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 3vw 5vw 1vw;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: end;
    outline: none;
}



/***********************
SORTERINGS MENU
***********************/

.sorter_menu {
    text-align: end;
    padding: 0 5vw 2vw;
}

.sorter_menu button {
    font-family: muli, sans-serif;
    font-size: 1rem;
    text-align: center;
    width: 100px;
    background-color: #ede3d8;
    border: none;
}

.sorter.active {
    background-color: #A68B6A;
    color: white;
}




/***********************
IMG HOVER
***********************/

.img_frame {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 380px
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    transform: translateY(50px);
    width: 100%;
    height: 50px;
    background: rgba(0, 0, 0, 0.61);
    font-family: muli, sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    z-index: 1;
}

#index article:hover .overlay {
    animation-name: come_up_kf;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    cursor: pointer;
}

/***********************
POP-UP
***********************/

#detail {
    z-index: 4;
}


/***********************************
OM OS
***********************************/

/*
#omos_splash {
    width: 100vw;
    height: 100vh;
    background-image: url(billeder/om_mobile_splash.jpg);
    background-size: 120%;
    background-repeat: no-repeat;
}
*/
#omos_intro {
    margin: 0;
    padding: 0 1vh;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 1vh;
}

#omos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
    grid-gap: 10px;
    margin: 0 auto;
    padding-top: 0px;
}

#omos_intro h1 {
    margin: 0;
    font-family: 'Montserrat Alternates', sans-serif;
}

#omos article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5vh;
}

#omos img {
    flex-grow: 1;
    flex-basis: 100px;
}


#omos p {
    flex-grow: 2;
    flex-basis: 300px;
    margin: 0 2vw;
}



#omos article h2 {
    font-size: 2rem;
    color: #333;
    text-transform: capitalize;
    padding: 10px 0;
    margin: 0;
}


#omos h2,
#omos h1 {
    margin-top: 8vh;
}


.om_bg {
    transform: scale(-1);
}

/***********************
ANIMATION CLASSES
***********************/

.stroke {
    animation-name: stroke_kf;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.fill {
    animation-name: fill_kf;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.scale_in {
    animation-name: scale_in_kf;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    transform-origin: center;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.rotate {
    animation-name: rotate_kf;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.move_lr {
    animation-name: move_lr_kf;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.move_rl {
    animation-name: move_rl_kf;
    animation-duration: 1.4s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.hide_capulus_container2,
.hide_clava_container2 {
    animation-name: hide_containers_kf;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    overflow: hidden;
    white-space: nowrap;
}

.hide_clava_container2 {
    animation-duration: 1.6s;
}

.hide_capulus_sprite2,
.hide_clava_sprite2 {
    animation-name: hide_sprites_kf;
    animation-duration: 1.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.hide_clava_sprite2 {
    animation-duration: 1.6s;
}

.move_logo {
    animation-name: move_logo_kf;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.fade {
    opacity: 1;
}

.logo_opacity {
    animation: logo_opacity_kf;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

/***********************
ANIMATIONER
***********************/

@keyframes stroke_kf {
    100% {
        stroke-dashoffset: 0;
    }
}


@keyframes fill_kf {
    0% {
        fill: transparent;
    }

    100% {
        fill: #A68B6A;
    }
}


@keyframes scale_in_kf {
    0% {
        transform: scale(0);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}


@keyframes rotate_kf {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes move_lr_kf {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(232px);
    }
}


@keyframes move_rl_kf {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(169px);
    }
}


@keyframes hide_containers_kf {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 215px;
    }
}


@keyframes hide_sprites_kf {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -215px;
    }
}

@keyframes move_logo_kf {
    100% {
        top: 35px;
        transform: scale(0.55);
    }
}

@keyframes come_up_kf {
    100% {
        transform: translateY(1px);
    }
}

@keyframes logo_opacity_kf {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 768px) {
    .logo {
        top: 20%;
        transform: scale(0.5);
    }
}

/******************************************************
WEB
******************************************************/
@media only screen and (min-width: 1024px) {
    .logo {
        transform: scale(1.5);
        top: 35%;
    }

    #omos_intro {
        padding: 0 30vh;
        padding-top: 10vh;
        padding-bottom: 1vh;
    }

    #omos {
        max-width: 1000px;
    }

    #omos article {
        flex-direction: row;

    }

    #omos article:nth-child(even) {
        flex-direction: row-reverse;
    }

    #omos img {
        width: 25%;
        box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.2);
    }

    #omos article h2 {
        width: 100vw;
    }
}
